
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.head__overlay {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*.head {
    position: relative;
    overflow: hidden;
    height: 662px;
    background-image: url('../imgs/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}*/

.overlay {
    position: relative;
    z-index: 1;
}

/*start Slideshow in main page*/
.carousel { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
/*end Slideshow in main page*/

/*start form for sign up and sign in*/
.main__form {
    z-index: 3;
    padding: 20px;
    margin-top: 68px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    background-color: #fff;
    height: 580px;
    width: 300px;
}

.form-control {
    display: initial;
    /*width: 50%;*/
    border: 1px solid #0d9685;
}

.btn-default {
    color: #fff;
    background-color: #0d9685;
}

.form-control:focus {
    border-color: #0d9685;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(6, 70, 63);
}

.signin__form {
    display: block;
}
/*end form for sign up and sign in*/
/*-------------------------about us------------------------------------*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    
    background-color: transparent;
    
}
.nav-tabs>li>a:hover {
  border:none;
}

.board .nav-tabs {
  position: relative;
  margin:  auto;
  margin-bottom: 0;
  box-sizing: border-box;
  margin-left: -30px;

}

.board > div.board-inner > .nav-tabs {
  border: none;
}

p.narrow{
  width: 60%;
  margin: 10px auto;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
  outline: 0;
}

span.round-tabs{
  width: 100px;
  height: 100px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tabs.one{
  border: 2px solid #ddd;
  color: #ddd;
}

li.active span.round-tabs.one, li.active span.round-tabs.two, li.active span.round-tabs.three, li.active span.round-tabs.four, li.active span.round-tabs.five {
  background: #ff9933 !important;
  border: 2px solid #ff9933;
  color: #fff;
}

span.round-tabs.two{
  border: 2px solid #ddd;
  color: #ddd;
}

span.round-tabs.three{
  border: 2px solid #ddd;
  color: #ddd;
}



span.round-tabs.four{
  border: 2px solid #ddd;
  color: #ddd;
}

span.round-tabs.five{
  border: 2px solid #ddd;
  color: #ddd;
}


.nav-tabs > li.active > a span.round-tabs{
  background: #fafafa;
}
.nav-tabs > li {
  width: 20%;
}

.nav-tabs > li a{
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.nav-tabs > li a:hover{
  background: transparent;
}
.gly
{
  font-size: 55px;
  margin-top: 15px;
  color: #0d9685;
}
.tab-content
{
  margin-top: 50px;
  background-color:white;
  border-radius: 1%;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.tab-pane{
  position: relative;
  padding-top: 20px;
}

@media( max-width : 585px ){

  .board {
    width: 90%;
    height:auto !important;
  }
  span.round-tabs {
    font-size:16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head{
    font-size:20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height:50px;
  }

  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .btn-outline-rounded {
    padding:12px 20px;
  }
}
/*----------------------end of about us--------------------------------*/
/*-----------------------tooltip color-------------------------------*/

.tooltip.right .tooltip-inner {
    background-color:gray;
}
.tooltip.right .tooltip-arrow {
      border-right-color: gray;
}

/*-----------------------end of tooltip color-------------------------*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-145px;
    top:200px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:30px;
    padding:0px;
    margin:0px 0px 1px 0px;
    border-radius: 4%;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    cursor:pointer;
    
}
.sticky .one
{
   background-color: #3B5998; 
}
.sticky .two
{
   background-color: #00aced; 
}
.sticky .three
{
      background-color: #dd4b39; 
}
.sticky .four
{
   background-color:  #007bb5; 
}
.sticky .five
{
   background-color: #bb0000; 
}

.sticky .six
{
   background-color: #cb2027; 
}


.sticky li:hover{
    margin-left:-70px;
}
.sticky li span{
    float:left;
    font-size: 20px;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:3px;
    margin:0px;
    line-height:11px;
    font-size:10px;
}
.sticky li p a{
    text-decoration:none;
    color:white;
}
.sticky li p a:hover{
    text-decoration:underline;
}
/*-----------------------------------*/
#divCheckPassword
{
    color: red;
}

hr {
    display: none;
}

.sign {
    padding: 10px 30px;
}

.acc {
    padding-top:10px; 
}

.rgstr_height {
    height: 100%;
}