@model GraduationProject.ViewModels.TalentedUserViewModel


@foreach (var item in Model.Experience)
{
    <div class="container col-lg-12">



        <div class="col-lg-12">

            <p>
                <span class="s"> Position: </span>
                @item.Position

            </p>
        </div>
        <div class="col-lg-12">
            <p>
                <span class="s"> Company : </span>
                @item.Company
            </p>
        </div>
        <div class="col-lg-12">
            <p>
                <span class="s">  Skills : </span>
                @item.Skills
            </p>
        </div>





        <div class="clearfix"></div>
    </div>
}






<div class="clearfix"></div>

