@model GraduationProject.ViewModels.TalentAcquisitionViewModel
@{
    ViewBag.Title = "TalentAcquisition";
}
<link rel="stylesheet" href="~/Content/layout_style.css" />
<link rel="stylesheet" href="~/Content/animate.min.css" />
<div class="container col-lg-12 home">

    <!-- start profile picture -->


    <div class="avatar-upload">

        @using (Html.BeginForm("AvatarUpload", "TalentAcquisition", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <div class="avatar-edit">
                <input type="file" id="imageUpload" name="file" value="Browse" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            @Html.Action("DispalyAvatar");
    
            <input class="btn btn-default" type="submit" value="Upload" />

        }





    </div>

    <!-- end profile picture -->

   


    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#aboutme" aria-controls="aboutme" role="tab" data-toggle="tab">About me</a></li>
                <li role="presentation"><a href="#JA" aria-controls="JA" role="tab" data-toggle="tab">Job Application</a></li>
                
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- start about me section -->
                <div role="tabpanel" class="tab-pane active" id="aboutme">

                    @Html.Partial("TAboutMe")
                </div>
                <div class="clearfix"></div>
                <!-- end about me section -->
                <!-- start JA section -->
                <div role="tabpanel" class="tab-pane" id="JA">
                    <!-- start JA section -->


                    @Html.Partial("AddJob")


                    <!--start JA view-->

                    
                </div>
            </div>
            <!--end workshop view-->
            <!-- end workshop section -->

        </div>
        <div class="clearfix"></div>
        <!-- end JA section -->
  

    </div>
    <div class="clearfix"></div>

</div>

</div>


        </div>


